.font1{
  font-family: 'Droid+Sans', sans-serif;
  font-size: 14pt;
}

.font2{
  font-family: 'Roboto+condensed', sans-serif;
  font-size: 14pt;
}

.font3{
  font-family: 'PT+Sans', sans-serif;
  font-size: 12pt;
}

.heading1{
  font-family: 'Nunito', sans-serif;
}

.heading2{
  font-family: 'Cairo', sans-serif;
}

.heading3{
  font-family: 'Lobster', serif;
}
